---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
InsertBraces: true
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
---
